format-version 4

default-modpack "SomethingNew"

 //; == {} == <nothing>

modpacks {
    modpack "SomethingNew" path="./modpack" {
        description "wa wa wa wa wa"
		names {
			default "A Modpack (version %V)"
			quick "A Modpack - version %V (%P quick-mode)"
			dev "DevExport of %V from %D"
			slim "A Modpack - Slim Edition %V"
			tweakable "A Modpack - Tweakable Edition %V"
			git "IT3"
		}
    }
    modpack "SomethingNewer" path="./modpack2" {
        description "wa wa wa wa wa"
		names {
			default "A Modpack (version %V)"
			quick "A Modpack - version %V (%P quick-mode)"
			dev "DevExport of %V from %D"
			slim "A Modpack - Slim Edition %V"
			tweakable "A Modpack - Tweakable Edition %V"
			git "IT3b"
		}
    }
    /-modpack "Something" path="./modpack" preferred-name="Pack" {
        version-prefix "1."
        description "wi wi wi wi wi"
        ingame-name "IT2"
        files {
            //allow "abc" "xyz"
            //expect "abc" "xyz"
            //disallowed "abc" "xyz"
        }
	}
    /-modpack "Something else" path="./modpack2" {
        files {
            allow "abc" "xyz"
            expect "abc" "xyz"
            disallowed "abc" "xyz"
        }
    }
    /-modpack "Something else-er" path="./modpack3" {
        //allow;
        //expect;
        //disallowed;
    }
}